oceand.ponomarev-aa.ru {
    root * /usr/share/caddy
    encode gzip zstd
    file_server

    handle_path /api/* {
        reverse_proxy api:3000
    }

    # Angular SPA fallback
    try_files {path} /index.html
}
