oceand.ponomarev-aa.ru {
	# где лежит билд Angular
	root * /usr/share/caddy

	encode gzip zstd

	# API → в контейнер api:3000
	@api path /api/*
	handle @api {
		reverse_proxy api:3000
	}

	# SPA fallback: сначала пробуем файл, иначе index.html
	try_files {path} /index.html
	file_server
}
