<section>
  <h2>Информация об организации</h2>
  <table mat-table [dataSource]="fields">
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef>Поле</th>
      <td mat-cell *matCellDef="let element">{{element.label}}</td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Значение</th>
      <td mat-cell *matCellDef="let element">{{element.value}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['label', 'value']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['label', 'value'];"></tr>
  </table>
</section>
